@charset "utf-8";
/* CSS Document */
A111{color:#675C32;}
a:hover{color:#00CCFF}
body{margin: 0;
	padding: 0;
	background:#FFFFFF;
	font-size:12px;	
	color:#333333;
}
	
form{margin-top:0px; padding-top:0px;}
	
img{
border:none;
}


.fl{float:left}
.fr{float:right}



#clear{clear:both;}
.clear{clear:both;}

.content{

width:100%; 
vertical-align:top;
clear:both;
height:500px; 
}

#colOne{
vertical-align:top;
width:138px;
POSITION:relative;
}

#colCollapsed{
width:8px;
POSITION:relative;
}

#colOne div{

}

#colTwo{
vertical-align:top;
height:500px; 
POSITION:relative;
}

#colTwo .login{  margin-top:10px;}
#colTwo .login table{}
#colTwo .headtitle{
font-size:16px;
margin-bottom:10px;
font-weight:bold;
color:#D1B600;
}

.msgpage{
padding-left:100px;
}

.form{width:96%;} 

.required_tip{text-align:right;  margin-top:0px;}
.required_tip .asterisk{color:#FF0000;}



.section_header{
   border: 1px solid #E3E5EB;
   font-size:12px;
   height:20px;
   font-weight:bold;
   padding-top:5px;
   padding-left:5px;
   margin-top:10px;   
   margin-bottom:10px;    
   
   background:url("../switchcontent/form_header_bg.jpg") repeat-x;
   
}
.handcursor{
cursor:hand;
cursor:pointer;
}


#header{
text-align:center;
font-size:18px;
padding:6px;
background-color:#737373;
color:#FFFFFF;
width:97%;
overflow:hidden;
}
#header .main_title{
width:20px;
margin-bottom:-5px;

}
#header span{
font-weight:bold;
letter-spacing:3px;
}





/* Footer */

#footer {
	
	margin: 0 auto;	
	background: #cccccc;
}

#footer * {
	color: #5F5F5F;
}

#footer p {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}





.buttomToolbar{
	display:block;
float:left;
/*clear:both;*/
padding:0px;
margin-top:10px;
padding-left:20px;

}

.search .title{
display:inline;
}
form .search{
margin-top:15px;
margin-bottom:-10px;
}

.ff form .search{
margin-top:15px;
margin-bottom:5px;
}

.search{
margin-top:25px;
margin-bottom:5px;
}
/*start 编辑状态*/
.form{
padding:10px;
}

.form #formbutton{
	margin-top:30px;
	margin-left:30px;
}

.form .field{
padding:10px;
padding-bottom:5px;
clear:both;
width:100%;

}

.form .field ul li {
padding:5px;
}
.field .oneline .jNiceInputWrapper{
margin-left:0px;
}
.field .oneline{
display:inline-block;

}

.form .title_bar{
margin-top:10px;
font-weight:bold;
margin-left:5px;
}

.form .title_group{
padding-top:15px;
color:#917F00;
margin-left:10px;
border-bottom:dashed #CDCDCD 1px;
}

.form .title{
margin-top:3px;
float:left;
padding:0px;
display:inline-block;
width:100px;
text-align:right;
color:#333333;
padding-right:8px;
}



.form_tip,
.form .notes{
margin-left:100px;
color:#818181;
font-size:10px;
padding:0px;
display:block;
}


.form .required{
background:url(../images/required.gif) right no-repeat;
}
.form .content{
height:200px;
overflow:auto;
width:70%;
border:#CCCCCC solid 1px;


padding:2px;
display:inline-block;
}
.ie .form .content{
float:left;
margin-left:105px;
margin-top:-12px;

}

.form select,
.form .text{
	width:150px;
}
.form .wide{
	width:300px;
}
.form textarea{
width:450px;
height:100px;
font-size:12px;
}

.cmxform textarea
{
width:400px;
height:100px;
font-size:12px;
}
/*end 编辑状态*/
/*start 查看状态*/
.view .field .title{
margin-top:0px;
}
.view .field .textarea,
.view .field input{
border-style:none;
border:none;
background-color:#FFFFFF;
js:expression(this.readOnly=true);
color:#000000;
}
.view .field .radiobox{
border-style:none;
js:expression(this.disabled=true);
}
.view .field .required{background:none; padding-right:0px;}
.view .field .notes{
display:none;
}
.view .field .text{
width:80%;
}



/*end 查看状态*/

.title_image{
height:60px;
background-color:#FF0000;
background-repeat:no-repeat;
margin-bottom:10px;



}
.left_menu{
margin-left:10px;


}

.left_image{
margin-left:10px;
height:60px;
background:url(../images/title/xleft.png) no-repeat 0px 0px;


}


.icon_img{
margin-top:5px;
margin-left:5px;
}
 
.ie .left_usrinfo{
	margin-top:-10px;
}
.ff .left_usrinfo{
	margin-top:5px;
}

.left_usrinfo a,
.left_usrinfo{
color:#4B7801;

margin-bottom:10px;
text-decoration:none;
}

.ie .left_usrinfo{
margin-bottom:-10px;

}


.left_collapse{
color:#666666;
margin-left:18px;
margin-bottom:3px;
}

.display_none{
display:none;
}

 




