@charset "utf-8";
/* CSS Document */
.sortdesc{
color:#fff;
text-decoration:none;
background:url(./bar_arrow_up.gif) no-repeat;
padding-left:10px;
padding-right:3px;

}

.sortasc{
color:#fff;
text-decoration:none;
background:url(./bar_arrow_down.gif) no-repeat;
padding-left:10px;
padding-right:3px;
}

.nosort{
color:#fff;
text-decoration:none;
padding-left:0px;
padding-right:0px;
}

/* on mouseover cursor:hand;*/
.odd_over,
.odd_over a,
.even_over a,
.even_over{   
	background-color:#F7F7EE;	
		
	color:#993333;	
}
.even_out{
}
.odd_out{
	background-color:#F9F9F9;	
}

/* --- tabular tables layout ----*/







.tabular {
	padding: 0;
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}


caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px Arial, Helvetica, sans-serif;
	text-align: right;
}

.tabular th {
	font-weight:bold;
	color: #fff;
	border-right: 1px solid #BAC4CE;
	border-bottom: 2px solid #D8D8D8;
	text-align: center;
	padding: 5px 8px;
	background: #8C8C8A url(./title_bg.jpg) repeat-x;
}
.tabular th.left { 
    border-left: 1px solid #BAC4CE;
	background: #fff;
	padding:4px 0;
	}
.tabular th.leftalt { 
    border-left: 1px solid #BAC4CE;
	background: #E5E5E5;
	padding:4px 0;	
	}	
.tabular th.rightside {border-right:none}
.tabular th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #BAC4CE;
	background: none;
}
.tabular th.special{
    background:#BCD9F7;
}

.tabular td {
	border-right: 1px solid #BAC4CE;
	border-bottom: 1px solid #BAC4CE;
	padding: 3px 10px;

}



.pagger{
   display:block;
   float:right;
   text-align:right;
   font-size:12px;
   margin:5px 28px 10px 0px;
   word-spacing:2px;
   }
   
.list_table{
min-height:100px;

float:right;
width:100%;

}


