<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="{$_root}css/main.css" rel="stylesheet" type="text/css" />
<link href="{$_root}css/login.css" rel="stylesheet" type="text/css" />
{literal}
<script type="text/javascript">
if(self!=top){top.location=self.location;}
</script>
{/literal}
</head>
<body>
<div class="login-body">
	<div class="login-con">
	<h1><span>爱抢购管理系统</span></h1>
		<div class="login">
		{include file="frame/error.tpl"}
		<form action="{$_root}login/login" method="post">
			<input type="hidden" name="go" value=""/>
			<input type="hidden" name="do" value="login"/>
			<ul>
				<li><label>用户名：</label>
					<input type="text" class="text" name="username" style="_width:208px;"/>
				</li>
				<li><label>密　码：</label>
					<input type="password" class="text" name="password" style="_width:208px;"/>
				</li>
				
				<li><label>验证码：</label>
					<input type="text" class="text" style="width: 50px;margin-right:5px; text-transform: uppercase;" id="sessionnum" name="sessionnum" autocomplete="off" maxlength="5"/>
					<img id="securityimg" src="./imgcode?_=" title="看不清？点击更换" align="absmiddle" style="cursor:pointer" onClick="this.src=this.src+'1'" />
				 
				<li>
					<input type="submit" onclick="this.form.submit();" class="submit" value="登录" name="sm1"/>
				</li>
			</ul>
		</form>  
		</div>
	</div>
</div>
</body>
</html>
