@charset "utf-8";

/* CSS Document */ /*头部和左侧导航栏*/
html,body,div,span,ul,li,p,h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
body{
  background:#FFFFFF;
}
.max {
	height: auto;
	padding: 15px;
	width:900px;
	margin: 0px
}

.max input {
	text-align: center;
}

.headers {
	width: 1800px;
}

/*创建和修改档期的右侧*/
.floor1 {
	width: 100%;
	margin-top: 35px;
	margin-bottom: 30px;
}

.floor1 ul li {
	font-size: 14px;
	color: #333;
	height: 50px;
	line-height: 50px;
}

.max table {
	font-size: 14px;
	color: #333;
}

.floor2 {
	margin-bottom: 30px;
}

.floor2 ul li {
	font-size: 14px;
	color: #333;
	height: 50px;
	line-height: 50px;
}

.floor2 ul li span {
	font-size: 14px;
	color: #333;
}

.span1 {
	margin-right: 10px;
}

.span2 {
	margin-right: 30px;
}

.span3 {
	margin-right: 42px;
}

.date {
	border: #999 1px solid;
	background: white url(../img/datePicker.gif) no-repeat right;
}

.span4 {
	margin-left: 42px;
}

.floor3 {
	width: auto;
	margin-bottom: 30px;
}

.floor4 {
	width: auto;
	height: auto;
	margin-bottom: 30px;
}

.floor5 ul li {
	font-size: 14px;
	color: #333;
	height: 50px;
	line-height: 50px;
}

.floor4 p,.floor5 p {
	font-size: 14px;
	color: #333;
}

.floor6 ul{
	margin-top:10px;	
}	

.floor6 ul li {
	font-size: 14px;
	color: #333;
	clear:both;
}

.floor6 ul li table{
	margin-top:10px;
}

.floor6 ul li table tr td input{
	text-align:left;	
}	
	
.floor6 p {
	font-size: 14px;
	color: #333;
}

/***按钮*/
.wideButton {
	border: #000 1px solid;
	height: 22px;
	background-color: #ebebeb;
	cursor: pointer;
	color: black;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	width: 120px;
}

.narrowButton {
	border: #000 1px solid;
	height: 22px;
	background-color: #ebebeb;
	cursor: pointer;
	color: black;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	width: 60px;
}

/**档期列表**/
a {
	color: black;
}

.dqlist {
	width: 100%;
	margin-left: 15px;
}

.headers {
	position: relative;
}

.input1 {
	width: 130px;
	height: 20px;
	line-height:20px;
	margin-right: 25px;
	border: 1px solid #cccccc;
}

.input2 {
	width: 120px;
	height: 23px;
	margin-right: 25px;
	border: 1px solid #cccccc;
}

.input3 {
	width: 100px;
	height: 20px;
	line-height:20px;
	border: 1px solid #cccccc;
}

.input4 {
	width: 120px;
	height: 23px;
	margin-right: 10px;
	border: 1px solid #cccccc;
}

.input5 {
	width: 75px;
	height: 25px;
	text-align: center;
	border: 1px solid #cccccc;
}

.input6 {
	width: 140px;
	height: 22px;
	margin-right: 25px;
	border: 1px solid #cccccc;
}

.header_01 {
	margin: 20px 0 20px 0;
}

.header_01 span {
	font-size: 20px;
	font-family: "YAHEI";
	position: relative;
	top: 5px;
}

.header_01 img {
	vertical-align: middle;
	z-index: 2;
}

.header_02 {
	margin: 20px 0 20px 0;
}

.header_02 label,.dqlist tr th {
	font-family: 'Microsoft YaHei', Helvetica, sans-serif;
	font-size: 14px;
}

.header_03 {
	margin: 20px 0 20px 0;
}

#xinxi {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	position: relative;
}

.dqlist tr th {
	height: 65px;
	background: #f3f3f3;
	padding: 5px;
	font-weight: normal;
}

.dqlist tr th input {
	margin-right: 5px;
}

.dqlist tr td input {
	line-height: 40px;
	margin-right: 5px;
}

.dqlist tr td {
	border: 1px solid #dfdfdf;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 5px;
}

.dqlist .bg {
	background: #ffc9c9;
	margin-right: 2px;
}

.dqlist .greenbg {
	background: #5fd46a;
	margin-right: 2px;
}

.td1 span,.td2 span,.td3 span,.td4 span,.td5 span,.td6 span,.td7 span,.td8 span {
	width: 60px;
}
.tr1 {
	background: red;
	background: #f1f1f1;
	height: 50px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
	text-indent: 2em;
}

.tr1 span {
	font-size: 14px;
	display: inline-block;
	line-height: 40px;
	margin-right: 20px;
	text-indent: 1em;
	width: 80px;
	border: 1px solid #cccccc;
	position: relative;
	top: 10px;
	border-bottom: none;
}

.content_goods {
	border: 1px solid #dfdfdf;
	width: 1800px;
}

.content_operation {
	border: 1px solid #dfdfdf;
	width: 3150px;
}

.even {
	background: #ffffff;
}  /* 偶数行样式*/
.odd {
	background: #f3f3f3;
}  /* 奇数行样式*/
#state1 {
	cursor: pointer;
}

#state2 {
	cursor: pointer;
}

#state {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	position: relative;
}

#state span {
	display: inline-block;
	margin-right: 10px;
}

.checked {
	position: absolute;
	left: 5px;
	top: 40px;
}

#list1 td span {
	width: 60px;
}

/*下拉框*/
#search_id {
	font-size: 12px;
	color: #333333;
	position: relative;
}

#search_id div {
	float: left
}

#search_body {
	padding-top: 0px;
	width: 150px;
}

#search_body input {
	height: 20px;
	margin-top: 0px;
}

#result_id {
	padding-top: 0px;
	width: 100%;
	display: none;
}

#result_id table {
	width: 100%;
	font-size: 12px;
	font-family: "微软雅黑";
}

#result_id table tr td {
	height: 20px;
	line-height: 20px;
}

#result_id table tr td:hover {
	background-color: #FF9999;
	cursor: pointer
}

/*分页样式*/
.pagelist {
	padding: 0px;
	margin: 10px;
	font-size:12px;
}

.pagelist a {
	overflow: hidden;
	display: inline;
	padding: 4px;
	text-decoration: none;
	color: #333;
	border: 1px solid #ccc;
}

.pagelist a:hover,.pagelist strong {
	border: 1px solid #ffd375;
	color: #f26101;
	padding: 4px;
}

.pagelist span {
	margin: 0 10px;
}

.pbrandAndSup,.pbrandBG{	
	line-height: 28px;
	height: 28px;
	font-size: 14px;
}

.pbrandAndSup span{
	width:120px;
	margin-left:20px;
	cursor: pointer;
	color:purple;
}
	
.pbrandBG {
	float: left;
	margin-right: 12px;
	font-family: 'Microsoft YaHei';
	background-image: -moz-linear-gradient(#DEDEDE, #EEE);
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid white;
	background-color: #EEE;
}

.pbrandBG span{
	display: block;
	height: 28px;
	text-decoration: none;
	color: #333;
	padding: 0 20px;
}

.h30{
	height:28px;	
}

.pdleft{
	padding-left:20px;	
}

.show{
	display:block;	
}

.hide{
	display:none;	
}	