@charset "utf-8"; 
*{padding:0; margin:0}
html, body{width:100%; height:100%}
body{height:100%; font-size:12px; font-family:Verdana,Arial,Helvetica,sans-serif; overflow:auto; z-index:1}
body.showmenu{background:#ececec;}
body.hidemenu{background:none}

.cl{clear:both}

ul{list-style:none}
.head{width:100%; height:43px; overflow:hidden; z-index:8; position:relative; background:url(../img/header_top_bg.gif) left top repeat-x}
.head .top_logo{float:left; width:187px; text-align:center}
.head .top_link{position:absolute; top:20px; right:0px; padding-right:10px;}
.head .top_link ul{float:left; padding:0px 0px 0px 0px; line-height:15px; overflow:hidden}
.head .top_link ul li.welcome{border-right:none; color:#333; padding-right:6px}
.head .top_link ul li{float:left; color:#333; border-right:1px solid #333; margin-right:-1px}
.head .top_link ul li a{color:#333; padding-left:11px; padding-right:11px; text-decoration:none}
.head .top_link ul li a:hover{color:#4192d9; text-decoration:underline}
.head .top_link .quick{padding:3px 0px 0px 0px; float:left}
.head .top_link .quick a{display:block; text-decoration:none; color:#333; float:left; line-height:21px; height:21px; overflow:hidden}
.head .top_link .quick a.ac_qucikmenu{width:100px; background:url(../img/quick_bg.gif) left top no-repeat; letter-spacing:1px; text-indent:8px}
.head .top_link .quick a.ac_qucikmenu:hover{background:url(../img/quick_bg.gif) left bottom no-repeat}
.head .top_link .quick a.ac_qucikadd{width:0; background:url(../img/quick_bg.gif) right top no-repeat}
.head .top_link .quick a.ac_qucikadd:hover{background:url(../img/quick_bg.gif) right bottom no-repeat}

.nav{float:left; padding-top:07px}
.nav ul li{float:left; display:block; font-weight:bold; font-size:14px}
.nav ul li a{float:left; background:url(../img/nav_link_s.gif) bottom no-repeat; width:80px; height:35px; line-height:34px; color:#333; text-decoration:none; text-align:center}
.nav ul li a:hover{color:#333}
.nav ul li a.thisclass, .nav ul li a.thisclass:hover{background:url(../img/nav_current_s.gif) bottom no-repeat; color:#fff}
body.showmenu .left{display:block}
body.hidemenu .left{display:none}
.left{position:absolute; width:187px; top:38px; overflow:hidden; z-index:6}

.menu div{display:none}
.menu dl{float:right; width:178px; margin-top:10px; display:inline; font-size:14px}
.menu dl dt{float:right; width:176px; margin-right:3px; height:27px; text-indent:14px; line-height:26px; font-weight:bold; letter-spacing:2px; color:#fff; display:block; background:url(../img/leftmenu_dt_bg.gif) left top no-repeat; overflow:hidden; cursor:pointer; clear:both}
.menu dl dd{clear:both; padding-top:5px}
.menu dl dd ul li{float:right; width:170px; text-indent:10px; height:22px; line-height:22px; *margin-right:-4px; overflow:hidden; display:block; font-size:12px}
.menu dl dd ul li a{overflow:hidden; display:block; color:#333; text-decoration:none}
.menu dl dd ul li a:hover{color:#004b8d}
.menu dl dd ul li li{text-indent: 0px;}
.menu dl dd ul li a.group_sub_app{ border-left: #aaaaaa 1px dashed ; margin-left:10px; padding-left:0px;}
.menu dl dd ul li a.thisclass, .menu dl dd ul li a.thisclass:hover{color:#333; font-weight:bold; background:url(../img/leftmenu_li_s.gif) left top no-repeat}
body.showmenu .right{left:188px}
body.hidemenu .right{left:0px}
.right{height:90%;position:absolute;right:0;top:43px;bottom:0; z-index:7}
.main{height:100%;}
.main iframe{height:100%;width:100%; z-index:20}
.qucikmenu{position:absolute; right:10px; top:50px; z-index:9; display:none}
.qucikmenu ul{width:110px; list-style:none; border:1px solid #E7E7E7; background:#FFF}
.qucikmenu ul li{display:block; text-align:left}
.qucikmenu ul li a{height:29px; line-height:29px; display:block; color:#666; padding-left:10px; padding-right:10px; text-decoration:none}
.qucikmenu ul li a:hover{text-decoration:none; background:#F7F7F7}
.pagemask{width:100%; height:100%; background:#000; position:absolute; z-index:100; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; display:none}
.iframemask{position:absolute; z-index:80; top:0; left:0; background-color:#fff; border:none; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; height:100%; width:100%; display:none}