@charset "utf-8";
/* CSS Document */

body{ font-family:Verdana, Geneva, sans-serif; color:#666;}
input, select,  textarea{ color:#666; margin-left:5px;}
input[type=text], textarea, input[type=file] { border:1px solid #888;}

input[type=file]{ margin:2px;}
.color_red{ color:#F30;}
.maintop{ background-color:#fee;  width:100%; font-size:14px; color:#666; font-weight:bold; border-bottom:1px dotted #666;}
.field{ font:Verdana, Geneva, sans-serif; font-size:12px; background-color:#E8FFFC; font-weight:500; }
.table_width{  width:100%;  font-size:12px;}
.sub_label{ font-size:13px;  width:100%; margin:20px 0px 10px 0px;}
.navigate_panel{
	text-align:right;
	background-color:#6DBAE8;
	width: width:100%; 
	padding:2px;
	margin-bottom:10px;
}
.navigate_panel_2{ width:100%; text-align:right; background-color:#B6CDFA;  padding:2px; margin-bottom:10px;}
.page_navigation{ width:100%;  margin:10px auto; }
 
.page_navigation ul{ margin:0px 0px;; padding:2px; width:80%; height:15px; }
.page_navigation ul li{ font-family:Arial, Helvetica, sans-serif; width:16px; font-size:11px; text-align:center;  border:1px solid #999; margin:0px 5px;  float:left; list-style-type:none;}
.table_width td{padding:2px 2px 4px 4px; border-top:1px solid #aaa; }

<!-- -->
#coupontype_available_option_1{ display:block;}
.lable_inner_content{ width:80%; display:none; padding:10px; background-color:#eeeeee; border:thin dotted #900;}

a{ text-decoration:none; color:#aaa;  padding:2px;}
a:hover{ text-decoration:underline;  color:#fff; font-weight:bolder; background-color:#F30;}
a:visited{ text-decoration:none;  color:#aaa;}

.page_navigation a{ display:block; width:10px !important; float:right;}