@charset "utf-8";
/* CSS Document */

/* global style */
#state tr, #state td { font-size:12px; }
body{ margin:0; padding:0;background: white;}
/* common style */
.clear { clear:both; line-height:0px; height:0; overflow:hidden;} /* Clear float */
/**********/
.max{ background:#FFFFFF; width: 100%; padding:10px;}
.input1{width:120px; height:20px; margin-right:25px; border:1px solid #cccccc;}
.input2{width:120px; height:23px; margin-right:25px; border:1px solid #cccccc;}
.input3{width:120px; height:20px; border:1px solid #cccccc;}
.input4{width:120px; height:23px; margin-right:10px; border:1px solid #cccccc;}
.input5{width:75px; height:25px; text-align:center; border:1px solid #cccccc; cursor:pointer;}
.header_01{margin:60px 0 20px 0; position:relative}
.header_02{margin:20px 0 20px 0;}
.header_03{margin:20px 0 20px 0;}
.max table{border-collapse:collapse; width:100%; border:0;}
#state{ width:100%;border:1px solid #cccccc; border-collapse:collapse; position:relative;}
#state tr th{height:35px;border:1px solid #dfdfdf; background:#f3f3f3; padding:5px;}
#state tr td{border:1px solid #dfdfdf; height:40px; text-align:center; vertical-align:middle; font-size:12px; font-family:Verdana, Geneva, sans-serif; padding:5px;}
.tr1{background:red; background:#f1f1f1; height:50px; margin-bottom:20px; border-bottom:1px solid #dfdfdf; text-indent:2em;}
.tr1 span{ font-size:12px; display:inline-block; line-height:50px; margin-right:20px;}
.header_01 img {vertical-align: middle;z-index: 2;}
.max .even{ background:#ffffff;}  /* 偶数行样式*/
.max .odd{ background:#f3f3f3;}  /* 奇数行样式*/
.checked{position:absolute; left:5px; top:40px;}
.wideButton{ border:#000 1px solid;height:22px; background-color: #ebebeb; cursor:pointer;color:black; line-height:20px; font-size:12px; text-align:center; padding:0 5px;}
.header_01 span {
font-size: 20px;
font-family: "YAHEI";
position: relative;
top:5px;
}

.header_02 label, .dqlist tr th {
font-family: 'Microsoft YaHei', Helvetica, sans-serif;
font-size: 14px;
}

.date {
border: #999 1px solid;
background: white url(../img/datePicker.gif) no-repeat right;
}
/*分页样式*/
.pagelist {
	padding: 0px;
	margin: 10px;
	font-size:12px;
}

.pagelist a {
	overflow: hidden;
	display: inline;
	padding: 4px;
	text-decoration: none;
	color: #333;
	border: 1px solid #ccc;
}

.pagelist a:hover,.pagelist strong {
	border: 1px solid #ffd375;
	color: #f26101;
	padding: 4px;
}

.pagelist span {
	margin: 0 10px;
}