@charset "utf-8";
*{ margin:0px;}
body{color:#333; padding-bottom:50px; font-size:12px;background:#fff;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;}
img{border:none; vertical-align:middle; border: none}
img.icon {width:16px;height:16px;padding-bottom:2px}
ul,dl{list-style:none;}
a{color:#004b8d; text-decoration:none}
a:hover{color:#4192d9; text-decoration:none}
.fc_red{color:#f26101}
.fc_blue{color:#004b8d}
.fc_gray{color:#656565}
button, input, select{vertical-align:middle}
button{margin-right:5px;cursor:pointer;}
.btn1{height:22px;padding:0 6px;font-size:10pt;line-height:22px;color:#333;border:1px solid #ececec;background:url(../img/button_bg1.gif) repeat-x; cursor:pointer;}
textarea{margin-left:5px!important; font-size:10pt;}
.highlight{background:#ffffe0}
.disn{display:none}

.mtitle{width:100%;margin:0px auto; height:29px; background:url(../img/mtitle_bg.gif) left top repeat-x; overflow:hidden; clear:both}
.mtitle h1{width:48%; height:29px; float:left; line-height:27px; font-size:12pt; font-weight:bold; text-indent:14px; letter-spacing:2px; color:#333;}
.mtitle span{float:right;}

.tform{width:100%; margin:0 auto; border-bottom:1px solid #ececec; height:26px;line-height:26px;text-align:right;}

table .title{color:#333;font-weight:bold;background:#ececec;}
table thead tr{height:24px;line-height:24px;}
table thead th{padding:3px;color:#333;}

.tlist{width:100%; margin:7px auto 0px; border-collapse:collapse}
.tlist tbody tr{height:20px;line-height:20px;background:#fff;font-weight:normal;color:#333;border-bottom:1px dotted #ececec}
.tlist tr td{line-height:15px;padding:5px;color:#333;}
.tlist tbody td{border-bottom:1px dotted #ececec}
.tlist tfoot tr{text-align:left;}
.tlist tfoot td{padding-left:0px;}

.titem {border-collapse:separate;}
.titem td.field_new {border:#ececec solid 1px;background:#ececec;padding:3px;width:80px;color:blue}
.titem td.field {border:#ececec solid 1px;background:#ececec;padding:3px;width:80px}
.titem td.value {border:#ececec solid 1px;padding:3px;}
.titem td.value input.common {width:300px}
.titem td.error {border:red solid 1px;padding:3px;}
.titem select.common {width:304px}
.titem select optgroup option {padding-left:23px}
.titem td.submit {padding-top:10px;}
.titem td.submit input {width:50px}

.pagelist{padding:0px; margin-right:10px;}
.pagelist a{overflow:hidden;display:inline; padding:4px;text-decoration:none; color:#333; border:1px solid #ebebeb;}
.pagelist a:hover,.pagelist strong{border:1px solid #ffd375;color:#f26101;padding:4px;}
.pagelist span{margin:0 10px;}

img.chart_common{width:800px;height:440px}
img.chart_line{width:1000px;height:500px}
img.chart_pie{width:500px;height:300px}

input.filter_input{width:50px}

div.errorbox{width:100%; border:#ff0000 solid 1px;margin-bottom:10px;}
div.errorbox span{padding:3px 5px 3px 5px;display:block}

div.main{height:100%;margin:0px;padding:10px;}
div.maintop{padding:5px 0px 10px 0px;  margin-top:0px;border-bottom:#ccc dashed 1px}
div.mainbox{margin-top:10px;margin-bottom:10px}
div.tablebox{width:800px}
.wideButton{ border:#000 1px solid;height:20px; background-color: #ebebeb; cursor:pointer;color:black; line-height:16px; font-size:12px; text-align:center;width:120px;}
.narrowButton{ border:#000 1px solid;height:20px;background-color: #ebebeb; cursor:pointer;color:black; line-height:16px; font-size:12px; text-align:center;width:60px;}


.strike{text-decoration:line-through;}