.erpTable { width:2300px;}
.erpTable table { padding: 0; margin: 0; border: 0; color: #666; text-align: center; font-family: 'Microsoft YaHei', Helvetica, sans-serif; font-size: 12px; }
.tabBig{ width:2300px;}
.tabBig td { height: 36px; line-height: 38px;  border-bottom: 1px solid #ddd; }
.tabBig td td { border-bottom: 0; }
.tabBig2{ width:2300px;}
.tabBig2 td { height: 36px; line-height: 38px;   }
.even td { line-height: 45px; font-family: Arial;  }
.tdr{ border-right:1px  solid    #CCCCCC;}
.even td td td, .even td.nobor { border-right: none; }
.even table th { background: #f3f3f3; color: #22759b; font-weight: normal; }
.odd td { background:#f3f3f3;}
.odd table th { background:#e7e7e7;}
.tabBig .tdtbor td { border-bottom:1px solid #ddd;}
.tabBig .tdtbor td td,.tabBig .tdtbor .nobor td { border-bottom:0;}
.tw01 { width: 342px; }
.tw02 { width: 392px; }
.tw03 { width: 1298px; }
.tw04 { width: 120px; }
.tw05 { width: 106px; }
.tw06 { width: 96px; }
.tdtbw01 td { width: 114px; }
.tdtbw02 td { width: 98px; }
.maintop span { font-size:16px; font-weight:bold; color:#666666;display:block; position:absolute; left:50px; top:10px;}
.maintop1{ margin:60px 0;}
.maintop{ margin:10px 0;}
.htitle{ font-size:14px; font-weight:bold; color:#666666;}
.intable{ width:100%;}
.intable td{ width:110px;}
.input2 {
width: 120px;
height: 23px;
margin-right: 25px;
border: 1px solid #CCC;
}
/*分页样式*/
.pagelist {
	padding: 0px;
	margin: 10px;
	font-size:12px;
}

.pagelist a {
	overflow: hidden;
	display: inline;
	padding: 4px;
	text-decoration: none;
	color: #333;
	border: 1px solid #ccc;
}

.pagelist a:hover,.pagelist strong {
	border: 1px solid #ffd375;
	color: #f26101;
	padding: 4px;
}

.pagelist span {
	margin: 0 10px;
}