.title{border-bottom:1px dashed #CCCCCC; padding:5px 0 10px;}
span{font-weight:800;}
label{font-size:14px;}
ul{width:540px;}
ul li{margin-top:20px;}
.intro{float:left; width:430px; }
.download{margin-right:10px; float:right; width:80px;}
.lcontent{margin:10px; width:550px; float:left;}
.econtent{margin-top:10px; margin-left:20px; width:550px; float:left;}
.banner{margin-top:30px; border-top:1px solid #CCCCCC; padding-top:10px; width:540px;}
.list{width:540px;}
#linknote{width:270px;}
#fanote{width:270px;}
#mklink{margin-left:10px;}
#mkfa{ margin-left:27px;}