<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> System</title>
<link href="{$_root}css/main.css" rel="stylesheet" type="text/css" />
<link href="{$_root}css/jquery.css" rel="stylesheet" type="text/css" />
<script src="{$_root}js/string.js" language="javascript" type="text/javascript"></script>
<script src="{$_root}js/jquery.js" language="javascript" type="text/javascript"></script>

<script src="{$_root}js/jquery.ui.core.js"></script>
<script src="{$_root}js/jquery.ui.widget.js"></script>
<script src="{$_root}js/jquery.ui.position.js"></script>
<script src="{$_root}js/jquery.ui.autocomplete.js"></script>

<script src="{$_root}js/jquery.ui.js" language="javascript" type="text/javascript"></script>
<script src="{$_root}js/ifrw.js" language="javascript" type="text/javascript"></script>
<script src="{$_root}js/common.js" language="javascript" type="text/javascript"></script>
<script src="{$_root}js/validation/jquery.metadata.js" language="javascript" type="text/javascript"></script>
<script src="{$_root}js/validation/jquery.validate.js" language="javascript" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{$_root}js/highcharts.js"></script>
<script src="{$_root}js/thickbox.js" language="javascript" type="text/javascript"></script>
<link href="{$_root}css/thickbox.css" rel="stylesheet" type="text/css" />


 







 

<style type="text/css" media="all">
@import "/css/x/xcomm.css";
</style>
<!--
<link href="{$_root}js/jquery-ui/css/redmond/jquery-ui-1.10.0.custom.css" rel="stylesheet">
<script src="{$_root}js/jquery-ui/js/jquery-ui-1.10.0.custom.js"></script>
-->

<script>
function visit(url){
	location.href=url;
}
</script>
	
</head>
<body>
<div class="main">
{include file="frame/tab_left.tpl"}

