<div style="width:100%;height:30px;">
	<!--
	<div class="pagelist">
		<span>共 5 页/138条记录 </span><span class="indexPage">首页 
		</span><strong>1</strong>
		<a href="">2</a>
		<a href="">3</a>
		<a href="">4</a>
		<a href="">5</a>
		<a class="nextPage" href="">下页</a> 
		<a class="endPage" href="">末页</a> 
	</div>
	-->
	{if $totalNum}
	<div class="pagelist" style="float:right">
		<span>共 {$totalPage} 页 / {$totalNum} 条记录 </span><span class="indexPage">{$prevStr}</span>{$pageStr}<span class="nextPage">{$nextStr}</span> 
	</div>
	{/if}
</div>