<script type="text/javascript">
 $(function(){	 
	 $("#tab_left").click(function(){
			if($("body",window.parent.document).attr("class") == "showmenu"){
				$("body",window.parent.document).attr("class","hidemenu");
				$("#togglemenu",window.parent.document).html("[显示菜单]");
				$(this).attr('title','显示菜单');
				var img=$(this).children('img:first');
				$(img).attr('src',$(img).data('src'));
			}else{
				$("body",window.parent.document).attr("class","showmenu");
				$("#togglemenu",window.parent.document).html("[隐藏菜单]");
				$(this).attr('title','隐藏菜单');
				var img=$(this).children('img:first');
				$(img).attr('src',$(img).data('src2'));
			}
	  });
 });
</script>	  
<div style="position:absolute;z-index:6;left:0;top:50%"><a href='javascript:void(0);' title='隐藏菜单' id='tab_left'>
<img src="{$_root}img/tab_left.png" border='0'  data-src2="{$_root}img/tab_left.png"  data-src="{$_root}img/tab_right.png"/>
</a></div>