{include file="frame/head_vm.tpl"}
 

<ol class="breadcrumb">
  <li><img src="{$_root}img/icon_arrow_right.png" class="icon" />  <a href="#"> 市场部</a></li>
  <li class="active">导入抽奖码</li>
</ol>


<div class="mainbox">
{include file="frame/error.tpl"}
<form name="frm" method="post" enctype="multipart/form-data" >
<table class="titem" >
  
	<tr>
		<td class="field">&nbsp&nbsp强制上传</td>
		<td class="value">
			<input type="checkbox" name="forceUpload" value = 1 /> 确认无误(相同抽奖码覆盖处理)
		</td>
	</tr>    
	<tr>
		<td class="field">&nbsp&nbsp上传抽奖码</td>
		<td class="value">
			<input type="file" name="excelfile" id="excelfile"/>
		</td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
			<input type="submit" value="提交" id="Btn" />
			<input type="button" value="返回" onclick="javascript:document.location.href='list?';" />
             <input type="hidden" name="nnn" value="1" />
		</td>
	</tr>
</table>

</form>
{include file="frame/foot.tpl"}
