
{include file="frame/head_vm.tpl"}
 

<ol class="breadcrumb">
  <li><img src="{$_root}img/icon_arrow_right.png" class="icon" />  <a href="#"> 销售部</a></li>
  <li class="active" > 统计报表 </li>
</ol>


 
<div class="mainbox"> 


<div class="search" >
	 
     <div class="title"> </div>	
     
     <select name="s_yearmonth" id="s_yearmonth" >	 
	 		{html_options options=$yearMonthOpts selected=$smarty.request.yearmonth}
	  </select>
     
     
     
      <select name="s_cityid" id="s_cityid" >	 
     		<option value="">所有城市</option>
	 		{html_options options=$cityidOpts selected=$smarty.request.cityid}
	  		</select>
            
       <select name="s_userlevel" id="s_userlevel" >	 
     		<option value="">所有职位</option>
	 		{html_options options=$userLevelOpts selected=$smarty.request.userlevel}
	  		</select>
            
      
            
      <select name="s_payway" id="s_payway" >	 
     		<option value="">所有支付方式</option>
	  		{html_options options=$paywayOpts selected=$smarty.request.payway}
	  		</select>
     
    
     
        <!--
       <div class="title">状态：</div>
      {html_radios  id=s_status  name=s_status options=$statusOpts selected=$request.status|default:1}
        -->
      
	<input name="search2" type="button" class="btn-large" onClick="javascript:dosearch(false)" value="搜索" />
     
     
	<script>
    function dosearch(tocsv){
		var frm=document.getElementById('search');
		 
		frm.yearmonth.value=document.getElementById('s_yearmonth').value;
		frm.cityid.value=document.getElementById('s_cityid').value;
		frm.userlevel.value=document.getElementById('s_userlevel').value;
		frm.payway.value=document.getElementById('s_payway').value;
		
		 
		//frm.status.value=$('input[@name=s_status][@checked]').val();
		 
		
		//frm.act.value=tocsv?'tocsv':'';
		
		frm.submit();
	}
	
	
	 
	 
	
    </script> 
</div>
 
 
	{include file="frame/xlist_template.tpl" rows=$rows fields=$fields pk_field="" pk_field_value="" total_page=$total_page}
 




<form name="search" id="search" method="get" action="">
	<input name="currpage" type="hidden" value="{$smarty.request.currpage}" />
	<input name="orderby" type="hidden" value="{$smarty.request.orderby}" />
	<input name="direction" type="hidden" value="{$smarty.request.direction}" />
    
	<input name="cityid" type="hidden" value="{$smarty.request.cityid}" />
    <input name="yearmonth" type="hidden" value="{$smarty.request.yearmonth}" />
    <input name="userlevel" type="hidden" value="{$smarty.request.userlevel}" /> 
    <input name="payway" type="hidden" value="{$smarty.request.payway}" /> 
     
    
    <input name="act" type="hidden" value="" />
    
</form>
    
 
     
       
<script language="javascript">
  

 
</script> 


</div>
                        
                        
{include file="frame/foot.tpl"}